h1{
    font-size: 30px;
}
.form-container {
    border: 2px solid #007bff;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    background-color: #f9f9f9;
}
.form-group {
    margin-bottom: 20px; /* 各要素の間に余白を追加 */
}
.posttitle{
    font-size: 20px;
    display: block;
}
.postcontent{
    font-size: 20px;
    display: block;
}
.posttitlefiled{
    width: 50%; /* 幅を100%に設定 */
}
.postcontentfiled{
    width: 50%;
}
.contentbox{
    border: 2px solid #007bff;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    background-color: #f9f9f9;
}